In [17]:
import pandas as pd
X_2005 = pd.read_excel("./data/Brazilian Immigrants.xlsx",sheet_name='2005')
X_2006 = pd.read_excel("./data/Brazilian Immigrants.xlsx",sheet_name='2006')
X_2007 = pd.read_excel("./data/Brazilian Immigrants.xlsx",sheet_name='2007')
X_2008 = pd.read_excel("./data/Brazilian Immigrants.xlsx",sheet_name='2008')
X_2009 = pd.read_excel("./data/Brazilian Immigrants.xlsx",sheet_name='2009')
X_2010 = pd.read_excel("./data/Brazilian Immigrants.xlsx",sheet_name='2010')
X_2011 = pd.read_excel("./data/Brazilian Immigrants.xlsx",sheet_name='2011')
X_2012 = pd.read_excel("./data/Brazilian Immigrants.xlsx",sheet_name='2012')
X_2013 = pd.read_excel("./data/Brazilian Immigrants.xlsx",sheet_name='2013')
X_2014 = pd.read_excel("./data/Brazilian Immigrants.xlsx",sheet_name='2014')
X_2015 = pd.read_excel("./data/Brazilian Immigrants.xlsx",sheet_name='2015')
X_2016 = pd.read_excel("./data/Brazilian Immigrants.xlsx",sheet_name='2016')
X_2017 = pd.read_excel("./data/Brazilian Immigrants.xlsx",sheet_name='2017')
X_2018 = pd.read_excel("./data/Brazilian Immigrants.xlsx",sheet_name='2018')
X_2019 = pd.read_excel("./data/Brazilian Immigrants.xlsx",sheet_name='2019')

In [18]:
X_2014

,Type,State Code,1,2,4,5,6,8,9,10,...,45,46,47,48,49,51,53,54,55,56
0,Population,Population,941,123,3075,644,32597,2117,13785,121,...,2384,255,2519,14635,2562,4046,2094,343,1218,98
1,Age,Age 0 to 4,0,0,0,0,103,0,0,0,...,0,0,102,0,0,0,0,0,0,0
2,Age,Age 05 to 09,0,0,0,0,0,0,0,0,...,84,0,104,605,79,0,0,0,0,0
3,Age,Age 10 to 19,20,0,451,0,1114,0,545,65,...,99,0,654,329,450,0,111,0,0,22
4,Age,Age 20 to 24,0,0,588,0,2203,482,577,0,...,160,0,302,854,280,272,0,73,576,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,Poverty Status,Individuals Below Poverty,162,0,398,0,4131,0,1002,0,...,542,0,562,898,847,707,111,0,331,22
67,Poverty Status,Individuals Above Poverty,779,123,2142,644,28019,1635,12783,121,...,1842,255,1795,13620,1552,3339,1983,270,634,76
68,Poverty Status,Not Determined,0,0,535,0,447,482,0,0,...,0,0,162,117,163,0,0,73,253,0
69,Median Personal Earnings,Median Personal Earnings,13500,27900,11930,22000,20400,4400,20000,6200,...,12000,0,0,20000,6500,24000,35000,3700,1700,80000
70,Median Personal Earnings,Median Personal Earnings (excl 0 and neg),20000,27900,38720,36000,33100,30000,28000,6200,...,20000,92000,48000,40000,9100,30000,55000,3700,35000,80000

In [151]:
'''X_2012=X_2012.rename(columns={'Unnamed: 0':'Type'})
X_2013=X_2013.rename(columns={'Unnamed: 0':'Type'})
X_2014=X_2014.rename(columns={'State_Code':'Type','State_Code.1':'State Code'})
X_2015=X_2015.rename(columns={'State_Code':'Type','State_Code.1':'State Code'})
X_2016=X_2016.rename(columns={'State_Code':'Type','State_Code.1':'State Code'})
X_2017=X_2017.rename(columns={'State_Code':'Type','State_Code.1':'State Code'})
X_2018=X_2018.rename(columns={'State_Code':'Type','State_Code.1':'State Code'})
X_2019=X_2019.rename(columns={'Unnamed: 0':'Type'})'''

In [19]:
#Median Personal Earnings--row 69,70
mpe_2005=X_2005[69:71]
mpe_2006=X_2006[69:71]
mpe_2007=X_2007[69:71]
mpe_2008=X_2008[69:71]
mpe_2009=X_2009[69:71]
mpe_2010=X_2010[69:71]
mpe_2011=X_2011[69:71]
mpe_2012=X_2012[69:71]
mpe_2013=X_2013[69:71]
mpe_2014=X_2014[69:71]
mpe_2015=X_2015[69:71]
mpe_2016=X_2016[69:71]
mpe_2017=X_2017[69:71]
mpe_2018=X_2018[69:71]
mpe_2019=X_2019[69:71]

In [20]:
def addYear(df,year,num):
    col_name = df.columns.tolist()
    col_name.insert(0,'Year')
    df=df.reindex(columns=col_name)
    years=[]
    for i in range(num):
        years.append(year)
    df['Year']=years
    return df
mpe_2005=addYear(mpe_2005,2005,2)
mpe_2006=addYear(mpe_2006,2006,2)
mpe_2007=addYear(mpe_2007,2007,2)
mpe_2008=addYear(mpe_2008,2008,2)
mpe_2009=addYear(mpe_2009,2009,2)
mpe_2010=addYear(mpe_2010,2010,2)
mpe_2011=addYear(mpe_2011,2011,2)
mpe_2012=addYear(mpe_2012,2012,2)
mpe_2013=addYear(mpe_2013,2013,2)
mpe_2014=addYear(mpe_2014,2014,2)
mpe_2015=addYear(mpe_2015,2015,2)
mpe_2016=addYear(mpe_2016,2016,2)
mpe_2017=addYear(mpe_2017,2017,2)
mpe_2018=addYear(mpe_2018,2018,2)
mpe_2019=addYear(mpe_2019,2019,2)

In [21]:
mpe=pd.concat([mpe_2005,mpe_2006,mpe_2007,mpe_2008,mpe_2009,mpe_2010,mpe_2011,
               mpe_2012, mpe_2013,mpe_2014,mpe_2015,mpe_2016,mpe_2017,mpe_2018,mpe_2019])
mpe.to_csv("Median Personal Earnings.csv")

In [22]:
#EmploymentbyOccupation row:56-65
eo_2005=X_2005[56:66]
eo_2006=X_2006[56:66]
eo_2007=X_2007[56:66]
eo_2008=X_2008[56:66]
eo_2009=X_2009[56:66]
eo_2010=X_2010[56:66]
eo_2011=X_2011[56:66]
eo_2012=X_2012[56:66]
eo_2013=X_2013[56:66]
eo_2014=X_2014[56:66]
eo_2015=X_2015[56:66]
eo_2016=X_2016[56:66]
eo_2017=X_2017[56:66]
eo_2018=X_2018[56:66]
eo_2019=X_2019[56:66]

In [23]:
eo_2005=addYear(eo_2005,2005,10)
eo_2006=addYear(eo_2006,2006,10)
eo_2007=addYear(eo_2007,2007,10)
eo_2008=addYear(eo_2008,2008,10)
eo_2009=addYear(eo_2009,2009,10)
eo_2010=addYear(eo_2010,2010,10)
eo_2011=addYear(eo_2011,2011,10)
eo_2012=addYear(eo_2012,2012,10)
eo_2013=addYear(eo_2013,2013,10)
eo_2014=addYear(eo_2014,2014,10)
eo_2015=addYear(eo_2015,2015,10)
eo_2016=addYear(eo_2016,2016,10)
eo_2017=addYear(eo_2017,2017,10)
eo_2018=addYear(eo_2018,2018,10)
eo_2019=addYear(eo_2019,2019,10)

In [24]:
eo=pd.concat([eo_2005,eo_2006,eo_2007,eo_2008,eo_2009,eo_2010,eo_2011,eo_2012, eo_2013,eo_2014,eo_2015,eo_2016,eo_2017,eo_2018,eo_2019])
eo.to_csv("Employment by Occupation.csv")

In [111]:
x1=X_train[:2]
x1=x1.iloc[:,1:]
x1=x1.T
x1=x1.iloc[1:]
x1.columns=[['State_Code','Population']]
x1.insert(1, "State", x1.index, allow_duplicates=False)
x1.to_csv("Population-2019.csv")